{% extends "base.html" %}
{% load static %}
{% block services %}
<!-- HERO SECTION  -->
<div class="site-hero_2">
    <div class="page-title">
        <div class="big-title montserrat-text uppercase">Услуги</div>
        <div class="small-title montserrat-text uppercase">Главная / Услуги</div>
    </div>
</div>

<!-- WHAT WE DO -->
<section>
    <div class="container">
        <div class="row">
            <div class="section-title">
                <span>Запись на прием юриста</span>
                
                <a href="#" id="showDocs" class="green">Оставить заявку</a>
                     <div class="dogovor" >
                         <!-- <? include($_SERVER['DOCUMENT_ROOT'].'/zayavka.php'); ?> -->
                     </div>
            </div>
        </div>

        
    </div><!-- end container -->
</section>

        <div class="section-title">
                <span>Оставить заявку на услугу</span>
                
        </div>

        <div class="section-title">
                <span>Документы</span>
                
            </div>


<a href="#" id="showDocs" class="green">Заполнить договор купли продажи</a>
<div class="dogovor" >
 <!-- <? include($_SERVER['DOCUMENT_ROOT'].'/doc1.php'); ?> -->
</div>
<!-- <?}else{?> -->

<div class="site-hero_2">
    <div class="page-title">
        <div class="big-title montserrat-text uppercase">Услуги</div>
        <div class="small-title montserrat-text uppercase">Что бы видеть услуги нужно авторизоваться / зарегистрироваться</div>
    </div>
</div>

<!-- <?}?>
 newsletter -->



<!-- <?
    include($_SERVER['DOCUMENT_ROOT'].'/page_temlate/footer.php');
?> --> 
{% endblock services %}